* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #6d6d6d;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
.inactive {
    visibility: hidden;
    opacity: 0;
}

nav {
    width: 100%;
    height: 56px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--very-light-pink);
}

.nav-hamburguer {
    height: 18px;
    width: 25px;
    cursor: pointer;
}
.nav-logo {
    width: 96px;
    height: 20px;
    margin: 10px 40px;
}
.nav-list {
    display: none;
}

/* ---- NAV RIGHT ---- */
.nav-right p {
    display: none;
}
.shoping-cart_container {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.shoping-cart {
    width: 20px;
    height: 21px;
}
.shoping-cart_number {
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 0.7rem;
    top: -5px;
    left: 12px;
    border-radius: 50%;
    background-color: var(--hospital-green);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Desktop Menu */
.desktop-menu {
    position: absolute;
    top: 55px;
    right: 40px;
    background-color: var(--white);
    width: 125px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 15px 0;
    transition: opacity .4s;
}
.desktop-menu ul {
    list-style: none;
}
.desktop-menu ul li {
    text-align: end;
}
.desktop-menu ul li:nth-child(1), .desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul li a {
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

@media (max-width: 767px) {
    .desktop-menu {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav-hamburguer {
        display: none;
    }
    .logo-menu_container {
        display: flex;
        align-items: center;
    }
    .nav-list {
        list-style: none;
        display: flex;
    }
    .nav-list li {
        margin-left: 10px;
        padding: 5px;
        
    }
    .nav-list li:hover {
        border: 1px solid var(--hospital-green);
        border-radius: 10px;
    }
    .nav-list li a {
        color: var(--very-light-pink);
        text-decoration: none;
    }
    .nav-list li:hover a {
        color: var(--hospital-green);
        font-weight: 700;
    }
    .nav-right {
        display: flex;
        align-items: center;
    }
    .nav-right .navbar-email {
        display: block;
        margin-right: 10px;
        text-decoration: none;
        color: var(--very-light-pink);
        font-size: var(--sm);
        cursor: pointer;
    }
    .nav-right .navbar-email:hover {
        color: var(--hospital-green);
        font-weight: bold;
    }
    .mobile-menu {
        display: none;
    }
}

/* MOBILE MENU */

.mobile-menu {
    position: absolute;
    top: 55px;
    padding: 10px 20px;
    width: 90%;
    max-width: 350px;
    background-color: var(--white);
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    transition: opacity .4s;
}
.mobile-menu ul {
    list-style: none;
    margin-bottom: 35px;
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--very-light-pink);
}
.mobile-menu li {
    margin-bottom: 30px;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    margin-bottom: 24px;
}
.mobile-menu .user li {
    margin: 10px 0;
    font-size: var(--sm);
}
.mobile-menu .email {
    font-weight: 300;
}
.mobile-menu .sign-out {
    color: var(--hospital-green);
}

/* SHOPING CART MENU */
.my-order {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--white);
    border-radius: 15px;
    border: 1px solid var(--very-light-pink);
}
.my-order-container {
    padding: 10px;
    margin: 0 auto;
}
.my-order-container h1 {
    margin: 20px auto;
}

/* Primera Sección - Sección de tarjetas */
.order-list-container {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    font-size: var(--md);
    font-weight: bold;
}
.list-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 10px;
}
.list-item-container:nth-child(2n) {
    background-color: var(--text-input-field);
}
.shoping-cart-title {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}
.shoping-cart-title .left-arrow {
    margin-right: 25px;
    cursor: pointer;
}
.order-list-container .product-img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin-right: 15px;
    object-fit: cover;
}
.order-list-container .list-item {
    display: flex;
    align-items: center;
    color: var(--very-light-pink);
}
.item-price {
    display: flex;
    align-items: center;
}
.item-price .close-icon {
    width: 12px;
    height: 12px;
    margin-left: 20px;
    cursor: pointer;
}
.order-list-container .list-item:nth-child(1) {
    font-weight: 300;
}

/* Segunda Sección - Sección de Resumen de Compra */
.order-total {
    height: 76px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: var(--text-input-field);
    border-radius: 8px;
}
.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    height: 60px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAIN CONTAINER */
.cards-container {
    margin: 20px 0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 24px;
    place-content: center;
}
.product-card {
    width: 240px;
}
.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.product-info figure img {
    width: 40px;
    height: 40px;
}
.product-price {
    font-size: var(--md);
    font-weight: 700;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-name {
    font-size: var(--sm);
    font-weight: bold;
    color: var(--very-light-pink);
    margin: 0;
}
@media (max-width: 640px) {
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
    }
}